html{
	font-family: 'Tahoma', sans-serif;
	font-size: 1cm;
	line-height: 0.8cm;
	color: #000000
}

body{
	background-image: url(../images/background.jpg);
}

table{
	width 860px;
	background-color: white;
	padding: 0px;
}

header{ 
	text-align: center;
	font-size: 1.4cm;
	background-color: #CBC3E3;
	padding: .125cm;
	font-family: 'Impact';
	color: #000000
}

table, tr, td, th{
	border: 4px solid black;
	font-size: 0.75cm;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2{
	font-size: 0.65cm;
	line-height: 0.6cm;
	color: #FFFFFF;
	border-style: groove;
	border-color: white;
	background-color: black;
}


p{
	font-size: 0.5cm;
	line-height: 0.6cm;
	color: #FFFFFF;
}

a{
	color: red;
}






